.memory_table {
  font-size: 1.1em;
  font-weight: 400;
  color: lightblue;
}

.hex_cell {
  /*Center the text in the cell*/
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.hex_cell_highlight {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: yellow;
}

.address {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: yellow;
}

.pc {
  color: black;
  background-color: yellow;
}
.operand {
  color: white;
  background-color: blue;
}

.header {
  color: yellow;
}

.memory_name {
  color: rgb(220, 40, 96);
}
