.memory_table {
  font-size: 1.1em;
  font-family: Courier New, monospace;
  font-weight: lighter;
  color: lightblue;
}

.hex_cell {
}

.pc {
  color: black;
  font-weight: bold;
  background-color: yellow;
}
.operand {
  color: black;
  font-weight: bold;
  background-color: lightblue;
}
