.cmd_line {
  color: var(--white);
}

.label {
}

.value_watcher {
  color: var(--white);
  background-color: var(--black);
}

.value_watcher_changed {
  color: var(--black);
  background-color: var(--blue);
}
