.cmd_line {
  color: var(--white);
}

.label {
  margin-right: 5px;
}

.value_watcher {
  color: var(--white);
  background-color: var(--black);
}

.value_watcher_changed {
  color: var(--black);
  background-color: var(--blue);
}
