/*** Brand Colors ***/
:root {
  --white: #ffffff;
  --canary: #ffe70aff;
  --yellow: #ffe70aff;
  --harlequin: #5df128ff;
  --green: #5df128ff;
  --orange-pantone: #fb5607ff;
  --orange: #fb5607ff;
  --shocking-pink: #ff00b3ff;
  --pink: #ff00b3ff;
  --electric-purple: #b739edff;
  --purple: #b739edff;
  --azure: #3a86ffff;
  --blue: #3a86ffff;
  --cyan: #00c8c8ff;
  --eerie-black: #1d1e20ff;
  --gray: rgb(178, 180, 183);
  --black: #1d1e20ff;
}

/* Google Fonts */
@font-face {
  font-family: "Permanent Marker";
  src: url("/google-fonts/Permanent_Marker/PermanentMarker-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--black);
  font-family: "IBM Plex Mono", monospace;
  color: var(--white);
}
