/* font color */
.color_white {
  color: var(--white);
}

.color_canary,
.color_yellow {
  color: var(--canary);
}

.color_harlequin,
.color_green {
  color: var(--harlequin);
}

.color_orange-pantone,
.color_orange {
  color: var(--orange-pantone);
}

.color_shocking-pink,
.color_pink {
  color: var(--shocking-pink);
}

.color_azure,
.color_blue {
  color: var(--azure);
}

.color_gray {
  color: var(--gray);
}

.color_purple,
.color_electric-purple {
  color: var(--purple);
}

/* background color */
.bg_color_white {
  background-color: var(--white);
}

.bg_color_canary,
.bg_color_yellow {
  background-color: var(--canary);
}

.bg_color_harlequin,
.bg_color_green {
  background-color: var(--harlequin);
}

.bg_color_orange-pantone,
.bg_color_orange {
  background-color: var(--orange-pantone);
}

.bg_color_shocking-pink,
.bg_color_pink {
  background-color: var(--shocking-pink);
}

.bg_color_azure,
.bg_color_blue {
  background-color: var(--azure);
}

.bg_color_gray {
  background-color: var(--gray);
}

.bg_color_purple,
.bg_color_electric-purple {
  background-color: var(--purple);
}
